body {
  background-color: #E8F6EF;
}
 img:hover {
   background-color: #FFDEFA;
 }
h1 {
  color:#54BAB9;
}

 h3 {
   color:#54BAB9;
 }

 hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  }
/****************************ID SELECTORS***********************/

#heading {
  color: #9C51E0;
}
